@font-face {
  font-family: 'roboto_monoregular';
  src: url('assets/fonts/Roboto-Mono/robotomono-variablefont_wght-webfont.woff2') format('woff2'),
       url('assets/fonts/Roboto-Mono/robotomono-variablefont_wght-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'roboto_monoregular';
}

body {
  background-color: gray;
}

main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  background-color: #202020;
  width: 20em;
  border-radius: 5px;
}

#display {
  height: 8em;
  width: 20em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

#display-content-upperscreen {
  font-size: 1em;
  padding: 8px 10px 0 0;
}

#display-content {
  font-size: 2.25em;
  padding: 0 10px 3px;
  overflow: auto;
}

#button-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 2px;
  padding: 0 0 3px 3px;
}

.button {
  height: 51px;
  width: 77px;
  border: none;
  border-radius: 5px;
  font-size: 26px;
  line-height: 51px;
  background-position: center center;
  text-align: center;
}

.marked:active {
  background-color: lightskyblue;
}

.outer:active {
  background-color: #3c3c3c;
}

.inner:active {
  background-color: #464646;
}

.button > img {
  padding-top: 0.35em;
}

.inner {
  background: #3b3b3b;
}

.outer {
  background: #323232;
}

.marked {
  background: #4cc2ff;
}

footer {
  height: 10vh;
  background: #040D12;
  line-height: 10vh;
  font-size: 1.5em;
  text-align: center;
}

.copyright-info-link {
  position: relative;
  top: 13px;
  padding-left: 0.5em;
}

#copyright-info:nth-of-type(1) {
  border-right: 2px solid white;
  padding-right: 0.4em;
}